<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<nav>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Airplane_silhouette_yellow.svg/1024px-Airplane_silhouette_yellow.svg.png"width="25" height="30">
  <a href="/flights/new">ADD FLIGHT</a>
  <a href="/flights">ALL FLIGHTS</a>
  <a href="/">HOME</a>
</nav>
<main>