<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mongoose Flights</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<nav>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Airplane_silhouette_yellow.svg/1024px-Airplane_silhouette_yellow.svg.png"width="25" height="30">
  <a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD FLIGHT</a>
  <a href="/flights" <%- title === 'All Flight' ? 'class="active"' : '' %>>ALL FLIGHTS</a>
  <a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
</nav>
<main>